

.register {
    font-size: 16px !important;
    padding: 50px;
    box-sizing: border-box;
    border: 2px solid  black;
}

input {
    width: 400px;
    border-radius: 0px;
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    margin-right: 16px;
    margin-top: 16px;
    float: center;
}

.buttons {
    margin-left: 245px;
}