<div class="wrapper">
  <!-- <img class="img" src="assets/img/blue-lines-png-transparent-35.png"> -->
  <div class="line"></div>

  <div class="top-bar">
        <div class="header">
          <h1>NOTES APP</h1>
        </div>
        <div class="navigation">
          <a *ngIf="loggedUser" class="logout-button" (click)="logout()">Logout</a>
          <div class="user" *ngIf="loggedUser">User: {{loggedUser.name}}</div>
        </div>
  </div>

  <div *ngIf="!loggedUser" class="page-content">
    <!-- <app-login></app-login> -->
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="loggedUser" class="page-content">

     <div class="menu">
       <app-menu></app-menu>
     </div>

    <nav class="sidebar">
      <h1 class="sidebar-header">Notes</h1>
      <app-note-list [user]="loggedUser"></app-note-list>
    </nav>

    <div class="content">
      <app-create-note class="component"></app-create-note>
      <app-gifs></app-gifs>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
