<h1 mat-dialog-title>Add Tag</h1>
<div mat-dialog-content *ngIf="allTags.length" id="tags" class="tags">
    <ul>
      <li *ngFor="let tag of allTags">
        <mat-checkbox class="tag-label" style="--color: {{tag.color}};" [style.color]="tag.color" type="checkbox" [checked]="ifChecked(tag)" (change)="updateChecked($event, tag)">
          {{tag.name.slice(0,25)}}{{tag.name.length > 25 ? '...' : ''}}
        </mat-checkbox>
        <a class="x-button" (click)="onDeleteTag(tag._id)"><span aria-hidden="true">&times;</span></a>
      </li>
    </ul>
</div>
<input matInput [(ngModel)]="tagName" (keyup.enter)="addTag()" placeholder="New tag...">
<div class="priority">
  <mat-slide-toggle color="primary" (change)="updatePriority($event)" [checked]="priority === 'high'">High Priority</mat-slide-toggle>
</div>
<p>
  Type:
  <mat-button-toggle-group name="type" class="note-type" [(ngModel)]="type">
    <mat-button-toggle value="note">Note</mat-button-toggle>
    <mat-button-toggle value="list">List</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<div mat-dialog-actions align="end">
  <button class="btn" mat-button [mat-dialog-close]="onDone()" cdkFocusInitial>Done</button>
</div>
